h1,
h2,
h3,
h4,
h5 {
	font-weight: bold;
	margin-top: 0;
}

h1 {
	font-size: $font-size1;
	@include media(xsm) {
		font-size: $font-size4;
	}
}

h2 {
	font-size: $font-size2;
	@include media(xsm) {
		font-size: $font-size3;
	}
}

h3 {
	font-size: $font-size4;
}

h4 {
	font-size: $font-size5;
}

h5 {
	font-size: $font-size6;
}

blockquote {
	font-size: $font-size5;
	font-weight: bold;
	@include media(xsm) {
		font-size: $font-size6;
	}
}

p {
	font-size: $font-size7;
}
